
php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


#RewriteCond %{HTTP_HOST} ^(.+).serials.ru$
#RewriteRule (.*) http://.ru/$1?region=%1 [L,R=301,QSA]

RewriteRule ^/$ /index.php?word=Wikcionario:Portada [L]
RewriteRule ^$ /index.php?word=Wikcionario:Portada [L]
RewriteRule ^wiki/File:(.*)$ /index.php?photo=$1 [L]
RewriteRule ^wiki/(.*).jpg$ /index.php?photo=$1&dir=jpg [L]
RewriteRule ^wiki/(.*).JPG$ /index.php?photo=$1&dir=jpg [L]
RewriteRule ^wiki/(.*).gif$ /index.php?photo=$1&dir=gif [L]
RewriteRule ^wiki/(.*).png$ /index.php?photo=$1&dir=png [L]
RewriteRule ^wiki/(.*).jpeg$ /index.php?photo=$1&dir=jpeg [L]
RewriteRule ^wiki/(.*)/$ /index.php?word=$1 [L]
RewriteRule ^wiki/(.*)$ /index.php?word=$1 [L]
RewriteRule ^list0.php$ /index.php?list0=list0 [L]
RewriteRule ^list/(.*)$ /controller/list.php?id=$1 [L]
#RewriteRule ^w/index.php(.*)$ /404.php?word=$1 [R]


